.header__container
  h1 Anstagram 
  form
    input(type="text", placeholder="검색")
  nav 
    ul
      a(href="/")
        li 
          i.fas.fa-home
      a(href="/content/upload")
        li
          i.far.fa-plus-square
      a(href="login")
        li
          i.far.fa-user