header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  background-color: $yellow;
}

.header__container {
  width: 100%;
  max-width: 1000px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__column {
  display: flex;
  width: 33.3%;
  min-width: 200px;
  color: black;
  font-style: italic;
}

a.header__column {
  margin-left: 20px;
  text-decoration: none;
}

.service-title {
  font-size: 28px;
  font-family: "Roboto Slab", serif;
  font-weight: 600;
}

form.header__column {
  justify-content: center;
  input {
    width: 300px;
    height: 20px;
    &:focus {
      outline: none;
    }
  }
}

nav.header__column {
  margin-right: 20px;
  justify-content: flex-end;
  ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    li {
      font-size: 24px;
      margin-left: 30px;
      a {
        color: black;
      }
      i {
        cursor: pointer;
      }
    }
  }
}

.header__loggeduser {
  position: relative;
}

.header__menu {
  position: absolute;
  top: 38px;
  right: -5px;
  width: 200px;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  ul {
    display: flex;
    flex-direction: column;
    a {
      width: 100%;
      color: black;
      text-decoration: none;
      &:first-child {
        border-bottom: 1px solid $light-grey;
      }
      li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 45px;
        margin-left: 0;
        font-size: 16px;
        font-style: normal;
      }
    }
  }
}

.menu-hidden {
  display: none;
}
